{% include "./base.html" %}

<div class="container-fluid">
  <div class="row p-3">
    <h1>Crime</h1>
    This project is developed as fulfilment of CM3035 midterms.
  </div>

  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">API Endpoint One</h5>
      <span class="span-post">POST</span><span class="span-link">http://127.0.0.1:8000/api1</span>
      <p class="card-text">Log a new crime with POST.</p>
      <a href="/api1" class="btn btn-dark">Click here</a>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">API Endpoint Two</h5>
      <span class="span-get">GET</span
      ><span class="span-link">http://127.0.0.1:8000/api2/17</span>
      <p class="card-text">
        Get a hotspot for a particular category of offense.
      </p>
      <form action="" method="post" class="form">
        {% csrf_token %} {{form.as_p}}
        <button type="button submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">API Endpoint Three</h5>
      <span class="span-get">GET</span
      ><span class="span-link">http://127.0.0.1:8000/api3</span>
      <p class="card-text">
        List the locations with the fastest response when a motor vehicle is
        stolen.
      </p>
      <a href="/api3" class="btn btn-dark">Click here</a>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">API Endpoint Four</h5>
      <span class="span-get">GET</span
      ><span class="span-link">http://127.0.0.1:8000/api4</span>
      <p class="card-text">
        List the type of White Collar offenses that are committed on the
        weekends.
      </p>
      <a href="/api4" class="btn btn-dark">Click here</a>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">API Endpoint Five</h5>
      <span class="span-get">GET</span
      ><span class="span-link">http://127.0.0.1:8000/api5</span>
      <p class="card-text">
        List the neighbourhoods where either drugs and aggravated assault is
        prevelant.
      </p>
      <a href="/api5" class="btn btn-dark">Click here</a>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">API Endpoint Six</h5>
      <span class="span-get">GET</span
      ><span class="span-link">http://127.0.0.1:8000/api6</span>
      <p class="card-text">
        List the 5 cloesest geolocation to the first murder that took place.
      </p>
      <a href="/api6" class="btn btn-dark">Click here</a>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">Neighbourhood Detail View</h5>
      <span class="span-get">GET</span>
      <span class="span-put">PUT</span>
      <span class="span-delete">DELETE</span>
      <span class="span-link">http://127.0.0.1:8000/neighbourhood/75</span>
      <p class="card-text">
        Get a specific neighbourhood so we can delete or update it.
      </p>
      <form id="neighbourhoodForm" method="GET" action="" class="form">
        <label for="value_neighbourhood">Select the neighbourhood id:</label>
        <select id="value_neighbourhood" name="value" class = "mb-3">
          {% for i in n_range%}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}</select
        ><br />
        <button class="btn btn-dark" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">Offense Type List View</h5>
      <span class = "span-get">GET</span><span class="span-post">POST</span><span class = "span-link">http://127.0.0.1:8000/offense-type/</span>
      <p class="card-text">List the first five offense types, or create a new offense type.</p>
      <a href="/offense-type/" class="btn btn-dark">Click here</a>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">Geolocation Detail View</h5>
      <span class="span-get">GET</span>
      <span class="span-put">PUT</span>
      <span class="span-delete">DELETE</span>
      <span class="span-link">http://127.0.0.1:8000/neighbourhood/75</span>
      <p class="card-text">
        Get a specific neighbourhood so we can delete or update it.
      </p>
        <form id="GeolocationForm" method="GET" action="" class="form">
            <label for="value_geolocation">Select the Geolocation id:</label>
            <select id="value_geolocation" name="value" class = "mb-3">
              {% for i in g_range%}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}</select><br />
            <button class="btn btn-dark" type="submit">Submit</button>
          </form>

    </div>
  </div>
</div>

</div>

<script>
  // Update the form action dynamically based on the selected value
  document
    .getElementById("neighbourhoodForm")
    .addEventListener("submit", function (event) {
      const selectedValue = document.getElementById("value_neighbourhood").value;
      this.action = `neighbourhood/${selectedValue}/`;
    });

document
    .getElementById("GeolocationForm")
    .addEventListener("submit", function (event) {
      const selectedValue = document.getElementById("value_geolocation").value;
      this.action = `geolocation/${selectedValue}/`;
    });
</script>
