{% include "./base.html" %}

<div class="container-fluid">
  <h1>Crime</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <b> API ONE: POST </b> <br/>
      Log a new crime
      <a href="/api6">Hi</a>
    </li>
    <li class="list-group-item">
      <b> API TWO </b>
    </li>
    <li class="list-group-item">
      <b> API THREE </b>
    </li>
    <li class="list-group-item">
      <b> API FOUR </b>
    </li>
    <li class="list-group-item">
      <b> API FIVE </b>
    </li>
    <li class="list-group-item">
      <b> API SIX </b>
    </li>
  </ul>
</div>
