.span-link {
    background-color: #f4f4f4;
    color: #575757;
    padding:4px;
    margin-left: 5px;
    border-radius: 10%;
    font-weight: bold;
    font-size: small;
}
.span-post {
    background-color: #b6f0fc;
    color: #3267a1;
    padding:4px;
    margin-left: 5px;
    border-radius: 10%;
    font-weight: bold;
    font-size: small;
}

.span-get {
    background-color: #a9ffc7;
    color: #34a132;
    padding:4px;
    border-radius: 10%;
    font-weight: bold;
    font-size: small;
}

.span-put {
    background-color: #f7ffaf;
    color: #737702;
    padding:4px;
    border-radius: 10%;
    font-weight: bold;
    font-size: small;
}

.span-delete {
    background-color: #ffafaf;
    color: #6a0013;
    padding:4px;
    border-radius: 10%;
    font-weight: bold;
    font-size: small;
}